@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pattern-bg-1 {
    background-color: #ffffff;
    background-image:  
      linear-gradient(#eef1f4 1px, transparent 1px), 
      linear-gradient(90deg, #eef1f4 1px, #ffffff 1px);
    background-size: 40px 80px;
    background-position: center;
    background-repeat: repeat;
  }
  .pattern-bg-2 {
    background-color: #dadada;
    background-image:  
      linear-gradient(#e4e4e472 1px, transparent 1px), 
      linear-gradient(90deg, #e4e4e472 1px, #f7f7f7 1px);
    background-size: 40px 80px;
    background-position: center;
    background-repeat: repeat;
  }
}

@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* body {
  cursor: none;
} */

.custom-cursor {
  position: fixed;
  z-index: 9999;
  width: 32px;
  height: 32px;
  background-image: url('/mousePointer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}